 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

* {
  font-family: 'Junge';
}

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-family: "Adobe Caslon Pro", Georgia, serif;
  font-size: 62.5%;

}
.container {
  max-width: 1200px;

}

  .center-unit{
  margin: auto;
  height: 800px;

}
  .header{
    margin-top: 20px;
    border: 2px dashed blue;
    height: 663px;
  }
  .header-top{
    border: 2px solid green;
    height: 98px;
    width: 100%;
    position: relative;
  }
  .header-logo{
    width: 25%;
    position: absolute;
    border: 5px solid orange;
    height:100%;
    font-size: 3.5em;
  }
  .header-social{
    position: absolute;
    width: 20%;
    margin-left:80%;
    font-size: 2.2em;
    border: 3px dashed purple;
    height: 80px;
  }
  .social-list ul{
    list-style-type: none;
    overflow: auto;
    display: inline;
  }
  .social-list li{
    float: left;
    margin-left: 4%;
    display: inline-block;
    height: 25px;
    background-color: gray;
    border: 1px solid black;
  }
  .header-pic {
    height: 313px;
    width: 100%;
    border: 3px solid red;
  }
  #header-pic-image{
    margin-top: 18px;
    background-color: black;
    width: 100%;
    height: 271px;
  }
  .header-boxes{
    height: 250px;
    width: 100%;
    overflow: auto;
    border: 5px dotted hsl(205,51,59);
  }

@media (min-width: 600px) {
  .center-unit{
    width: 75%;
  }
}
//tabs here//
section{
	width: 70%;
	margin: 0 auto;
  float: left;
  border: 3px dashed blue;
}

ul.tabs{
	margin: 10px;
  margin-bottom: 0;
	list-style: none;
  border-bottom: solid 1px HSLA(0, 0%, 88%, 1);
  li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: -1px;
    cursor: pointer;
  }
}

.tabs li.current{
	background-color: white;
	color: #222;
  border: solid 1px HSLA(0, 0%, 88%, 1);
  border-bottom: solid 1px white;
}

.tab-content{
	display: none;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

//Story tab section
.storytab {
  font-size: 1.5em;
}

.david-img, .produce-img {
  width: 50%;
  height: 200px;
  float: left;
  padding: 5px;
  padding-bottom: 15px;
}

#tab-1 {
  p {
  font-size: 1.4em;
  margin: 0;
  }
}

//Menu tab section
.menutab {
  font-size: 1.5em;
}
#tab-2 {
  font-size: 1.4em;
}

.app-menu {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: solid 1px HSLA(0, 0%, 88%, 1);
}

.menu-main {
  p {
    width: 80%;
    float: left;
    margin: 10px 0%;
  }
}

.food-price {
  width: 100%;
  height: 15px;
  border-bottom: 1px dashed;
  margin: 10px 0%;
  h3 {
    margin: 0;
    float: left;
    height: 17px;
    background-color: white;
    padding-right: .5%;
  }
  h4 {
    float: right;
    margin: 0;
    height: 17px;
    background-color: white;
    padding-left: .5%;
  }
}

.menu-icons {
  float: right;
  border-left: solid 1px HSLA(0, 0%, 60%, 1);
  height: 35px;
  display: inline-block;
  padding: 5px 0px 0px 5px;
  margin: 10px -0.5% 10px 0%;
  img {
    float: right;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 2px;
    list-style: none;
    &:hover {
      background-color: HSLA(346, 98%, 37%, 1);
      border-radius: 10px;
    }
  }
}


//Reservation tab section
.reservtab {
  font-size: 1.5em;
}

//end tabs

//mike's footer and side part

$fontred: hsla(346,100%,37%,1);
// Custom Styles



.food {
  @include span-columns(4);
  float: right;
  width:25%;
  border: 2px solid orange;


 img {
   margin-top: 20px;
   border: 2px solid ;
 }

}

h2 {

  text-align:center;
}

.center-part{
  width: 100%;
  height: 1040px;
  border: 3px dotted green;
}
//FOOTER STYLE

footer{
font-family:'Junge', serif;
border-top: 1px solid;
border-color: hsla(240,1%,83%,1);
height: 100px;
width: 100%;
clear: both;
border: 2px solid black;
font-size: 20px;


}

.footleft {
  margin-top:19px;
  word-spacing: 3px;

  a{
    text-decoration: none;
  }
}

.name:hover{
  color: $fontred;
}

.footright  {
  float: right;
  margin-top: -24px;
  color: hsla(200,1%,39%,1);

}

.footright a {
  text-decoration: none;
  color: hsla(200,1%,39%,1);
  padding: 5px;
}

.footright a:hover{
color: $fontred;
}

.footcenter img{
  width: 35px;
  margin-left: 433px;
  margin-top: -52px;
  background-color: #FFF;
  opacity: 0.4;
-webkit-filter: invert(100%);
}

.footcenter img:hover{
  background-color: $fontred;
  opacity: 1;
  -webkit-filter: invert(1%);
}
