 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://weloveiconfonts.com/api/?family=brandico);
$fontred: hsla(346,100%,37%,1);
$darkgray: hsla(0, 0%, 88%, 1);
$lightgray: hsla(0, 0%, 92%, 1);
// Custom Styles


* {
  font-family: 'Junge';

}


[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-family: "Adobe Caslon Pro", Georgia, serif;
  font-size: 62.5%;

}
.container {
  max-width: 1200px;

}

  .center-unit{
  margin: auto;
  height: 800px;

}
  .header{
    margin-top: 20px;
    height: 663px;
  }
  .header-top{
    border-bottom: 2px solid $fontred;
    width: 100%;
    overflow: auto;
  }
  .header-logo{


    width: 35%;
    float: left;

    height: 100%;

    font-size: 3.5em;
    -webkit-filter: invert(1%);
    transition-duration: 0.7s;
    margin-top: -5px;
}

    .header-logo:hover{
      background-color: #42FFD3;
      opacity: 1;
      -webkit-filter: invert(100%);

    }


  .header-social{
    float: right;
    width: 20%;
    text-align: right;
    font-size: 1.2em;
    height: 98px;
    position: relative;

    a{
      text-decoration: none;
      color: black;
      transition: color 0.2s ease
    }
    span{
    }
  }
.header-social a:hover{
  color: $fontred;
}
.brandico-facebook-rect{
  font-size: 2.4em;

}
.brandico-twitter-bird{
  font-size: 2.0em;


}
.brandico-instagram-filled{
  font-size: 2.4em;

}
.col-group > div {
  padding-left: -1%;
  margin-left: 8%;

}

@media screen and (min-width: 850px) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 25.3333333%;
  }
}


  .social-list ul{
    list-style-type: none;
    display: inline;
  }
  .social-list li{
    float: left;
    font-size: 1.5em;
    display: inline-block;
  }
  .social-list a{
    text-decoration: none;
    color: black;
  }
  .brandico-facebook-rect{
    margin-left: -10%;
    margin-top: 12px;
  }
  .brandico-twitter-bird{
    margin-left: 3%;
    margin-top: 12px;
  }
  .brandico-instagram-filled{
    margin-left: 3%;
    margin-top: 12px;
  }
  .header-pic {
    height: 313px;
    width: 100%;

  }
  #header-pic-image{
    margin-top: 18px;
    background-color: black;
    max-width: 100%;
    height: 271px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .header-boxes{
    height: 250px;
    width: 100%;
    margin-top: -20px;
    overflow: auto;

  }
  .header-box-one{
    float: left;
    width: 32%;
    height: 242px;
    background-color: $darkgray;
    border: 1px solid hsl(0,0,70);
    margin-right: 2%;
    transition: background-color 0.3s ease;
    position: relative;
    &:hover{
      background-color: $lightgray;
    }
    h2{
    text-align: left;
    position: absolute;
    left: 4%;
    width: 92%;
    padding-bottom: 2%;
    margin-top: 18px;
    border-bottom: 1px solid $fontred;
    }
    h3{
    position: absolute;
    }
    span{
    position: absolute;
    }
    p{
    position: absolute;
    }
  }
  .header-box-two{
    float: left;
    width: 32%;
    transition: background-color 0.3s ease;
    position: relative;
    height: 242px;
    background-color: $darkgray;
    border: 1px solid hsl(0,0,70);
    width: 32%;
    &:hover{
      background-color: $lightgray;
    }
    h2{
      text-align: left;
      position: absolute;
      left: 4%;
      width: 92%;
      padding-bottom: 2%;
      margin-top: 18px;
      border-bottom: 1px solid $fontred;
    }

  }
  .header-box-three{
    float: right;
    width: 32%;
    transition: background-color 0.3s ease;
    position: relative;
    background-color: hsla(0, 0%, 88%, 1);
    border: 1px solid hsl(0,0,70);
    height: 242px;
    h2{
    text-align: left;
    position: absolute;
    left: 4%;
    width: 92%;
    padding-bottom: 2%;
    margin-top: 18px;
    border-bottom: 1px solid $fontred;
    }
    &:hover{
      background-color: $lightgray;
    }
  }
  .map {
    margin-top: 49px;
    width: 80%;
    position: absolute;
    margin-left: 10%;
}
  .header-box-three .address {
      font-size:1.2em;
      margin-left: 10%;
      width: 80%;
      position: absolute;
      margin-top: 150px;
      text-align: center;
      height: 26px;

      text-decoration: none;
      color: black;

}
.header-box-three a{
  text-decoration: none;
}
.header-box-three a:hover{
  color: $fontred;
}

.phone {
  padding-left: 3%;
  position: absolute;
  margin-left:10%;
  width: 70%;
  margin-top: 180px;
  width: 60%;
  font-size: 1.2em;

}
.email{

  margin-left: 70%;
  width: 30%;
  font-size: 1.2em;
  position: absolute;
  margin-top: 180px;


}
@media (min-width: 600px) {
  .center-unit{
    width: 75%;
  }
}
//tabs here//
section{
	width: 70%;
	margin: 0 auto;
  float: left;
  margin-bottom: 10px;
}

ul.tabs{
	margin: 10px 2.56% 0px 0%;
	list-style: none;
  border-bottom: solid 1px HSLA(0, 0%, 88%, 1);
  li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: -1px;
    cursor: pointer;
    &:hover {
      color: $fontred;
    }
  }
}

.tabs li.current{
	background-color: white;
	color: #222;
  border: solid 1px HSLA(0, 0%, 88%, 1);
  border-bottom: solid 1px white;
}

.tab-content{
	display: none;
	padding: 15px 2.645% 15px 2.645%;
}

.tab-content.current{
	display: inherit;
}

//Story tab section
.story-logo {
  height: 40px;
  /* background-color: #FFF; */
  -webkit-filter: invert(1%);
  transition-duration: 0.7s;

}

  .story-logo:hover{
    background-color: #42FFD3;
    // opacity: 1;
    -webkit-filter: invert(100%);

  }


.storytab {
  font-size: 1.5em;
}

.david-img, .produce-img {
  width: 50%;
  height: 200px;
  float: left;
  padding: 5px;
  padding-bottom: 15px;
}

#tab-1 {
  p {
  font-size: 1.4em;
  margin: 0;

  }
}

.cherry-tree {
  max-width: 100%;
  padding: 0px 21%;
  height: 365px;
  margin-top: 50px;
}

.def {
  color: $fontred;
  font-size: 1.2em;
  margin-left: 3%;
}

//Menu tab section
.menutab {
  font-size: 1.5em;
}
#tab-2 {
  font-size: 1.4em;
  position: relative;
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.app-menu {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: solid 1px HSLA(0, 0%, 88%, 1);
}

.food-price {
  width: 100%;
  height: 15px;
  border-bottom: 1px dashed;
  margin: 10px 0%;
  .item {
    margin: 0;
    float: left;
    height: 17px;
    background-color: white;
    padding-right: .5%;
    text-overflow: ellipsis;
  }
  .price {
    float: right;
    margin: 0;
    height: 17px;
    background-color: white;
    padding-left: .5%;
  }
}

.description {
  display: inline-block;
  width: 90%;
  font-size: .87em;
}

.app-menu_2 .description {
  display: inline-block;
  width: 90%;
  font-size: .87em;
  padding: 5px 0% 5px 0%;
}

@mixin icons {
  float: right;
  height: 18px;
  margin: 1px;
  list-style: none;
  &:hover {
    background-color: $fontred;
    border-radius: 10px;
  }
}

@mixin popup {
  display: none;
  white-space: normal;
  height: 9%;
  background-color: $fontred;
  position: absolute;
  cursor: default;
  width: 60%;
  margin-left: -50%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 1.5%;
  h3 {
    margin: 0;
    color: white;
    border-bottom: solid 1px white;
    margin-bottom: 5px;
  }
  p {
    margin: 0;
    color: white;
  }
}

.vegan-popup {
  @include popup;
  padding: 3%;
}

.a-popup:hover .vegan-popup {
  display: inline;
}

.spicy-popup {
  @include popup;
  padding: 3%;
}

.a-popup:hover .spicy-popup {
  display: inline;
}

.fav-popup {
  @include popup;
  padding: 3%;
}

.a-popup:hover .fav-popup {
  display: inline;
}

.allergy-popup {
  @include popup;
}

.a-popup:hover .allergy-popup {
  display: inline;
}


.app-menu_1 .menu-icons {
  float: right;
  height: 25px;
  margin: -42px -1% 0px 0%;
  img {
    @include icons;
    cursor: default;
  }
}

.app-menu_2 .menu-icons {
  float: right;
  height: 25px;
  margin: 2px -0.5% 0px 0%;
  img {
    @include icons;
  }
}

.app-menu_3 .menu-icons {
  float: right;
  height: 25px;
  padding: 5px 0px 0px 5px;
  margin: -20px -0.5% 0px 0%;
  img {
    @include icons;
  }
}

.vegan, .spicy, .favorite, .allergies {
  display: none;
}

.food-price .item {
  font-weight: bolder;
}

.veg:hover {
  div {
  display: inline-block;
  }
}

.fire:hover {
  div {
  display: inline-block;
  }
}

.star:hover {
  div {
  display: inline-block;
  }
}

.allergy:hover {
  div {
  display: inline-block;
  }
}

//Reservation tab section
#tab-3 {
  font-size: 1.4em;
}

@mixin forms {
  padding: 10px 0px;
  font-weight: bolder;
  input {
    margin-top: 3px;
    width: 170px;
    height: 20px;
  }
}

@mixin input {
  border-radius: 5px;
  border-radius: 3px;
  border: solid 1px HSLA(0, 0%, 60%, 1);
}

.reservtab {
  font-size: 1.5em;
}

.reservation-form {
  margin-top: 30px;
}

.name-form {
  @include forms;
  input {
    @include input;
  }
}

.guests-form {
  @include forms;
  input {
    @include input;
    width: 140px;
  }
}

.date-form {
  @include forms;
  input {
    @include input;
    width: 140px;
  }
}

.request-form {
  @include forms;
  .textarea {
    height: 40px;
    @include input;
    margin-top: 3px;
    &:hover {
      width: 100%;
      height: 100px;
    }
  }
}


.seating {
  padding: 10px 0px;
  font-weight: bolder;
  select {
    width: 140px;
    margin-top: 3px;
  }
}

.submit-form {
  height: 35px;
  width: 140px;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  &:hover {
    background-color: $fontred;
    color: white;
  }
}

.submit-form:focus {
  outline: 0;
}

.def2 {
  color: $fontred;
  font-size: .85em;
  margin-left: 3%;
}

//end tabs

//mike's footer and side part

$fontred: hsla(346,100%,37%,1);
// Custom Styles



.food {
  @include span-columns(4);
  float: right;
  width:25%;
  border: 2px solid orange;


 img {
   margin-top: 20px;
   border: 2px solid ;
 }

}

h2 {

  text-align:center;
}

.center-part{
  width: 100%;
  height: 1040px;
  border: 3px dotted green;
}
//FOOTER STYLE

footer{
font-family:'Junge', serif;
border-top: 1px solid;
border-color: hsla(240,1%,83%,1);
height: 75px;
width: 100%;
/* border: 2px solid red; */
clear: both;
font-size: 1.4em;
overflow: auto;



}

.footleft {
  margin-top:19px;
  word-spacing: 3px;
  width: 33%;
  /* float: left; */

  a{
    text-decoration: none;
  }
}

.name:hover{
  color: $fontred;
}

.footright  {
  float: right;
  margin-top: -16px;
  color: hsla(200,1%,39%,1);
  margin-right: -7%;
  width: 33%;

}

.footright a {
  text-decoration: none;
  color: hsla(200,1%,39%,1);
  padding: 2%;
}

.footright a:hover{
color: $fontred;
}

.footcenter {
  width: 34%;
}
.footcenter img{
  width: 3%;
  margin-left: 49%;
  margin-top: -52px;
  background-color: #FFF;
  opacity: 0.4;
-webkit-filter: invert(100%);

}

.footcenter img:hover{
  background-color: $fontred;
  opacity: 1;
  -webkit-filter: invert(1%);
}
