<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Sakura Sushi</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

  <div class="container">

    <div class="center-unit">

      <div class="header">
        <div class="header-top">
          <div class="header-logo">
          <img src="http://f.cl.ly/items/3V2q0u1C1B223Q383K1d/headerlogoSS.png">
          </div>
          <div class="header-social">
          <div id="pattern" class="pattern">
  <div class="col-group">
    <div>
    <a href="#"><span class="brandico-facebook-rect"></span></a>
    </div>
    <div>
       <a href="#"><span class="brandico-twitter-bird"></a></span>
    </div>
    <div>
      <a href="#"><span class="brandico-instagram-filled"></span></a>
    </div>
  </div>
</div>
<!--End Pattern HTML-->

        </div><!--end of header social-->
        </div><!--end of header top-->
        <div class="header-pic">

          <div id="header-pic-image">
            <img src="http://f.cl.ly/items/0r090X303C0R0w3P3X1e/header%20photo.png" />
          </div>
        </div>

<div class="header-boxes">

  <div class="header-box-one">
            <h2>Latest News</h2>


          </div>

          <div class="header-box-two">
          <h2>Today's Special</h2>
          <div class="special_pic"></div>

          </div>

          <div class="header-box-three">
          <h2>Our Location</h2>

          <iframe class="map"
 width="225" height="115"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=%2072%20Kaupulehu%20Dr%2C%20Kailua-Kona%2C%20HI%2096740&key=AIzaSyDIp7lDcubC8h_snCLYOo0NtHLPAIrZ58g"></iframe>
<br></br>
<p class="address"><a href="#"> 72 Kaupulehu Dr, Kailua-Kona, HI 96740</a></p>

<li class="phone"><a href="#"> (555) 555-5555</a></li>

<li class="phone2"><a href="#"> (555) 555-5555</a></li>

          </div>
        </div>
        </script>
        <!--end of header-boxes-->




        </div><!--end of header-boxes-->



      <section><!--tabs go here-->
    	<ul class="tabs">
    		<li class="storytab current" data-tab="tab-1">Our Story</li>
    		<li class="menutab" data-tab="tab-2">Menu</li>
    		<li class="reservtab" data-tab="tab-3">Reservation</li>
    	</ul>



    	<div id="tab-1" class="tab-content current">

        <img class="story-logo" src="http://f.cl.ly/items/3V2q0u1C1B223Q383K1d/headerlogoSS.png" alt="" />

        <p>In business over 15 years Sakura has built a reputation for fresh food, an ever changing selection depending on the season and what is in the market and outstanding service.  Sakura was started by David Hada who started out over 20 years ago as a wakiita (an apprentice) and working his way up to itamae (head chef).  Throwing regular dinner parties and expanding to pop-up kitchens David saw the opportunity to open his own place.  He picked a small location and lovingly oversaw every aspect of the design.  Within a year he had outgrown his first site and picked a larger space and once again oversaw all the design.</p><br>
        <img class="david-img" src="http://si.wsj.net/public/resources/images/BN-BS185_mag031_J_20140227114326.jpg" alt="" />
        <img class="produce-img" src="http://www.geneticliteracyproject.org/wp/wp-content/uploads/2012/06/organic-farming.jpg" alt="" /><br>
        <p>Every day David picks out the freshest fish from his suppliers, he is insistent on local produce as much as possible, even going out to farms to select the vegetables himself.  This hands on approach has made Sakura an outstanding success for 15 years, with it’s ever changing specials and relaxing atmosphere Sakura is a place to enjoy Japanese fine dining.</p>
        <img class="cherry-tree" src="../images/tree.jpg" alt="" />
        <div class="def">*Sakura (桜 (kanji character)) - Japanese term for ornamental cherry blossom trees and their blossoms.
        </div>
    	</div><!--tab-1-->


    	<div id="tab-2" class="tab-content">
       <img class="story-logo" src="http://f.cl.ly/items/3V2q0u1C1B223Q383K1d/headerlogoSS.png" alt="" />

  		 <h2 class="">APPETIZERS</h2>
       <div class="app-menu_1">
         <!-- <div class ="food-price"> -->
           <!-- <h3>Food Item</h3>
           <h4>15</h4> -->
         <!-- </div> -->
         <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
         <!-- <ul class="menu-icons"> -->
           <!-- <img class="vegan" src="../images/vegan.png" alt="" />
           <img src="../images/fire.png" alt="" />
           <img src="../images/star.png" alt="" />
           <img src="../images/allergy.png" alt="" /> -->
         <!-- </ul> -->
       </div>
       <h2 class="">ENTREES</h2>
       <div class="app-menu_2">
       </div>
       <h2 class="">SIDES</h2>
       <div class="app-menu_3">
       </div>
      </div> <!--tab-2-->
    	<div id="tab-3" class="tab-content">
        <img class="story-logo" src="http://f.cl.ly/items/3V2q0u1C1B223Q383K1d/headerlogoSS.png" alt="" />
    		<form class="reservation-form">
          <div class="name-form">
            <label for="fullname">Full Name</label><br>
            <input id="fullname" type="text">
          </div>

          <div class="guests-form">
            <label for="guests">Number of Guests</label><br>
            <input id="guests" type="number">
          </div>

          <div class="date-form">
            <label for="date">Date</label><br>
            <input id="date" type="date">
          </div>

          <div class="request-form">
            <label for="request">Special Requests</label><br>
            <textarea class="textarea" rows="2"></textarea>
          </div>

          <div class="seating">
              <label for="state">Seating Preference</label><br>
              <select id="seat-select" class="seat">
                <option>Indoors</option>
                <option>Patio</option>
                <option>Private Room</option>
                <option>Party Room</option>
              </select>
            </div>
              <br>
              <button type="submit" class="submit-form">Reserve Table</button>
        </form>
        <img class="cherry-tree" src="../images/tree.jpg" alt="" />
        <div class="def2">*Sakura (桜 (kanji character)) - Japanese term for ornamental cherry blossom trees and their blossoms.
        </div>
    	 <!--tab-3-->
    </section><!--end of tabs-->
    <!--side photos-->

<div class="food">

  <ul class="food_pics"></ul>
</div><!--end side photos-->



<!--div center part-->



<!--div center part-->



<footer>

<div class="footleft"> <a href="#"><span class="name">Sakura Restaurant Group, LLC</span></a></div>


<span class="footcenter">
  <img src="http://f.cl.ly/items/180m1G0u1M2e3E0p2m0u/Sakura%20trans.png">

</span>
<span class="footright">

  <a href="#">Story</a>
  <a href="#">Menu</a>
  <a href="#">Careers</a>
  <a href="#">Contact</a>

</span>

</footer>
<script type="text/template" id="news_box">
<span class="title"><%=title%></span>
<span class="post"><%=post%></span>
</script>

<script type="text/template" id="menu_box">
  <div class ="food-price">
    <h3 class="item"><%=item%></h3>
    <span class="price"><%=price%></span>
  </div>
  <span class="description"><%=description%></span>

  <ul class="menu-icons">

  <% if(vegan){ %>
    <a class="a-popup" href="#">
      <img src="../images/vegan.png" alt="" />
      <span class=" vegan "><%= vegan %></span>
      <div class="vegan-popup">
        <h3>Vegan</h3>
        <p>This item contains no meat and has been prepared without the use of animal products.</p>
      </div>
    </a>
    <% };

    if(spicy){ %>
    <a class="a-popup" href="#">
      <img src="../images/fire.png" alt="" />
      <span class=" spicy "><%= spicy %>  </span>
      <div class="spicy-popup">
        <h3>Spicy</h3>
        <p>This item is spicy, please handle with care and drink lots of water.</p>
      </div>
    </a>
     <% };

    if(favorite){ %>
    <a class="a-popup" href="#">
      <img src="../images/star.png" alt="" />
      <span class=" favorite "><%= favorite %></span>
      <div class="fav-popup">
        <h3>Restaurant Favorite</h3>
        <p>We have been doing this a long time and this item has become one of our favorites.</p>
      </div>
    </a>
    <% };

    if(allergies){ %>
    <a class="a-popup" href="#">
      <img src="../images/allergy.png" alt="" />
      <span class=" allergies "><%= allergies %>  </span>
      <div class="allergy-popup">
        <h3>Allergy Info</h3>
        <p>This item may contain shellfish or another item that some people may be allergic to. Please ask your waiter or waitress for assistance.</p>
      </div>
    </a>
    <% }; %>

  </ul>
</script>








<script type="text/template" id="foodpic">
  <li>
    <img src="<%=img_url%>"/>

  </li>
</script>

<script id="special-box" type="text/template">
<span class="item"><%=item%></span>
<span class="price"><%=price%></span>
<span class="description"><%=description%></span>
</script>


    </div><!--center unit ends here-->

  </div><!--container ends here-->

</div>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

          <script src="scripts/token.js"></script>
          <script src="scripts/tabs.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
